{% load static %}

<html>
    <head>
        <title>
            This is Home page
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
        <a href="/accounts/logout"><button type="button" name="button">Logout</button><br/><br/>
    </head>
    <h2> <img src="{% static "images/school_logo.png" %}" width="25" height="25" alt="Image Not Found">  International School </h2>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
        <body >
           <div class="module">
            <h1>ADMISSIONS </h1><br/><br/>
            <a href="/adm/newadm"><button type="button" name="button">Add Admission</button><br/><br/>
            <a href="/adm/admreport"><button type="button" name="button">Admission Report</button><br/><br/>
            <a href="/adm/newvendor"><button type="button" name="button">Add Vendor</button><br/><br/>
           </div>
            
           <div class="module">
            <h1>FINANCE </h1><br/><br/>
            <a href="/fin/feecall"><button type="button" name="button">Fee Collection</button><br/><br/>
            <a href="/fin/collreport"><button type="button" name="button">Fee Collection Report</button><br/><br/>
            <a href="/fin/duesreport"><button type="button" name="button">Fee Due Report</button><br/><br/>
        </div>
           
        </body>
</html>